@font-face {
    font-family: Fredericka;
    src: url(./fonts/FrederickatheGreat-Regular.ttf);
  }

@font-face {
    font-family: Monoton;
    src: url(./fonts/Monoton-Regular.ttf);
}

@font-face {
    font-family: Rye;
    src: url(./fonts/Rye-Regular.ttf);
}

@font-face {
    font-family: Elite;
    src: url(./fonts/SpecialElite-Regular.ttf);
}